<li>
	<h3>{{burger_name}}</h3>

	<button class="change-burger" data-id="{{id}}" data-newsleep="{{devoured}}">
		Devour It!
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
